@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {

  --primary-color: #CF9D33;
  /* --primary-color: #037afe; */
  /* --primary-color: #3E7BFA; */
  /* --primary-color: #fdac41; */

  --primary-color-op: rgba(0, 0, 0, 0.8);
  --secondary-color: #CF9D33;

  --primary-bg: #121212;
  --secondary-bg: #3a3a3a;
  --tertiary-bg: #656565;

  --light-text: white;
  --dark-text: black;

  --border-color: rgba(212, 212, 212, 0.3);

  --placeholder-color: rgba(175, 175, 175, 1);

  --hover-bg: rgba(100, 100, 100, 0.65);
}

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: var(--secondary-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-bg);
  border: 0.25em solid var(--secondary-bg);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color)
}

body {

  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  /* background-image: url('./images/svg.svg'); */
  background-color: var(--primary-bg);
  color: var(--light-text);

  display: flex;
  justify-content: center;
}